body {
	line-height: 20px;
	font-family: 'Droid Sans', Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #929292;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 98px;
}

header {
	height: 150px;
	position: relative;
}

li {
	float: left;
}

ul {
	list-style-type: none;
}

div.home {
	padding: 10 0 30 0;
}

footer p.copyright {
	margin: auto;
	text-align: center;
}

header img.logo {
	float: left;
}

.container {
	margin: 0 auto;
	padding: 10 0 30 0;
	position: relative;
	width: 90%;
}

.top-menu {
	bottom: 0;
	float: right;
	padding-top: 60px;
	top: 64px;
}

.top-menu-item {
	color: #22a1cc;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 10px;
	text-transform: uppercase;
}

#search-bar {
	position : absolute;
	top: 1px;
	right: 1px;
}