.navbar-nav > li {
	padding: 0px 15px;
}

.dropdown:hover > .dropdown-menu {
	display: block;
}

p > footer {
	margin: 0 auto;
}

.downbar {
	padding-top: 7.5%;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #fff;
}

.carousel-indicators .active {
	background-color: black;
}