<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Coulometrics</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	</head>
	<body>
		<div class="container py-1">
			<div class="row"> 
                <img src="/static/images/Coulometrics-300x69-Transparent-Background.png" class="img-fluid mx-auto" alt="Coulometrics' Logo">
			</div>
		</div>
		<div class="container py-1">
			<nav class="navbar navbar-expand-sm bg-dark mx-auto">
				<ul class="navbar-nav mx-auto">
			    	<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
		    		<li class="nav-item"><a class="nav-link" href="#">Toll Coating</a></li>
			    	<li class="nav-item"><a class="nav-link" href="#">Development Services</a></li>
			    	<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Press</a></li>
			    </ul>
			</nav>
		</div>
	</body>
</html>