<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Coulometrics</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row"> 
                <img class="logo" src="/static/images/Coulometrics-300x69-Transparent-Background.png" alt="Coulometrics' Logo">
			</div>
		</div>
<!-- 		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Toll Coating</a></li>
						<li><a href="#">Development Services</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Press</a></li>
					</ul>
				</div>
			</div>
		</nav> -->
		<nav class="navbar navbar-inverse">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		      </div>
		      <div class="collapse navbar-collapse" id="myNavbar">
		        <ul class="nav navbar-nav navbar-right">
		          <li class="active"><a href="#">Home</a></li>
		          <li><a href="#">About</a></li>
		          <li><a href="#">Services</a></li>
		          <li><a href="#">Testimonial</a></li>
		          <li><a href="#">Contact</a></li>
		        </ul>
		      </div>
		    </div>
		</nav>
	</body>
</html>