<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coulometrics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <a href="{{ url_for('homepage')}}">
                    <img class="logo" src="/static/images/Coulometrics-300x69-Transparent-Background.png" alt="Coulometrics' Logo">
                </a>
                <input type="text" placeholder="Search this site...">
                <nav>
                    <ul class="menu">
                        <li>Home</li>
                        <li>Toll Coating</li>
                        <li>Development Services[dropdown]</li>
                        <li>Contact</li>
                        <li>Press</li>
                    </ul>
                </nav>
            </div>
        </header>
           <!--  <div class="container">
                {% block content %}
                {% endblock %}
            </div> -->
    </body>
    <footer>
        <div class="container">
            <p class="copyright">Copyright 2019 Coulometrics, LLC</p>
        </div>
    </footer>
</html>