<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coulometrics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div>
                    <a href="{{ url_for('homepage')}}">
                        <img class="logo" src="/static/images/Coulometrics-300x69-Transparent-Background.png" alt="Coulometrics' Logo">
                    </a>
                </div>
            </div>
    </body>
</html>